@import '@/themes/mixin.scss';
.create{
  width: 460px;@include contentDiv;
  .title{@include contentTitle}
  :global .login-form {
    @include contentForm
  }
  .pass{
    font-size:16px;font-weight:500;color: $gray;text-align: right;margin-top: -8px;cursor: pointer;
    &:hover{
      color: #0c85e8;
    }
  }
  padding: 23px;
}
