@import '@/themes/mixin.scss';

.leftNav{
  height:100%;
  :global .ant-menu-item{
    padding: 0 !important;margin: 0 !important;height: 65px;line-height: 65px;text-align: center;
  }
  :global .ant-menu-item-selected{
    background: #e0f0f7 !important;font-size:14px;
  }
  .menu{
    height: 100%;background: $newBackground;float:left;
    :global .ant-badge-count{
      right: -15px;box-shadow: none;min-width: 16px;height: 14px;line-height: 14px;font-size: 11px;
    }
  }
}
.content{
  float: right;position: relative;@include width-height(calc(100% - 120px), 100%);
  .myTable{
    overflow-x: hidden;overflow-y: auto;
    position: relative;@include width-height(100%, calc(100% - 50px));
    :global .ant-table-placeholder{border: none;border-radius: 0;}
  }
  .botttom{
    position: absolute;bottom: 0;right: 0;background: $baseBackground;@include width-height(100%, 50px);
    @include fixed(center, space-between);
    :global .ant-pagination{margin-left: 20px;}
    .autograph{margin-right: 20px;margin-left: 5px;@include refreshBtn;}
  }
  :global .ant-table-tbody{font-size: 12px;
    >tr{
      >td{border: none;padding: 11px !important;}
      background: white;
      &:nth-child(even){background: #F6F7FC;}
    }
    .ant-btn-sm{font-size: 12px}
    .ant-btn-primary{
      @include newBtn;
      &:hover{ @include hoverNewBtn;}
    }
  }
}
