@import '@/themes/mixin.scss';
.import{
  width: 460px;@include contentDiv;
  .title{@include contentTitle}
  :global .login-form {
    @include contentForm;
    .ant-input-prefix{width: 90px !important;}
    .ant-input-affix-wrapper {
      .ant-input:not(:first-child){padding-left: 120px !important;padding-right: 116px}
    }
    .ant-input-group-addon{
      position: absolute;right: 12px;z-index: 99;background: none;border: none !important;
      width: 99px;height: 23px;text-align: center;line-height: 23px;font-size:13px;top: 9px;
      font-weight:400;color:rgba(255,255,255,1);background:rgba(23,156,233,1);border-radius:3px;
    }
  }
}
