@import "http://at.alicdn.com/t/font_1167128_uxbtv8s7d0g.css";
html, body, #root {
  height: 100%;
}
body {
  height: 100%;  font-size: 14px;background: url("./assets/bg.png") no-repeat;background-size: 100% 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none
}
#root{
  display: flex;justify-content: center;align-items: center;width: 100%;
}
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  background: none;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background: #e6f7ff;
  border-radius: 5px;
}
