.login{
  width: 350px;text-align: center;
  >p{
    font-size: 18px;color: white;margin-bottom: 25px;font-weight:500;
  }
  .login-form{
    :global .ant-form-item{
      background: white;
    }
  }
}
