@import '@/themes/mixin.scss';
.logged{
  @include width-height(100%, 100%);
  .top{ @include width-height(100%, 70px);
    .myHeader{
      height: 70px;background: none;border: none;line-height: 70px;float: left;width: 50%;
      a{
        @include width-height(120px, 100%);text-align: center;font-size:14px;font-weight:500;
        color:rgba(255,254,254,1);float: left;display: flex;align-items: center;justify-content: center;
        i{font-size: 20px;margin-right: 9px;}
        &:hover{opacity: 0.9;color: white;border: none}
      }
      :global .ant-menu-item-selected{
        border: none;background:#0c85e8;
      }
      :global .ant-menu-item-active{
        border: none;
      }
      :global .ant-menu-item{
        border: none !important;padding: 0 !important;top: 0;
      }
    }
  }

  .content{
    height: calc(100% - 70px);background:white;overflow-y:auto;
  }
}
