.create{
  width: 360px;
  .title{color: white;font-size: 22px;margin-bottom: 8px}
  :global .login-form {
    margin-top: 20px;
    .ant-input-affix-wrapper {
      .ant-input:not(:first-child){
        padding-left: 70px !important;
      }
      .ant-input-prefix{
        width: 60px;text-align: right;left: 2px;color: #848484;
      }
    }
  }
}
