@import '@/themes/mixin.scss';
.graphDetail{
  padding: 20px 50px 0;font-size: 12px;position: relative;@include width-height(100%, calc(100% - 40px));
  .load{font-size: 24px;position: absolute;top:20px;right: 20px;}
  .top{
    @include width-height(100%, 51px);
    >li{
      float: left;border-right: 1px solid rgba(239,239,239,1);text-align: center;font-size: 12px;
      @include width-height(25%, 100%);
      &:last-child{border: none;}
      >p{color: $gray;}
      >span{color: $auxiliaryColor;line-height: 50px;}
    }
  }
  .amount{
    display: flex;
    >div{
      width: 47%;text-align: center;
      >p{ clear: both;}
      >ul{
        margin-top: 20px;
        li{
          color: $auxiliaryColor;margin-bottom: 12px;text-align: left;
          &:last-child{margin: 0}
          .address{float: right}
        }
      }
    }
    .icon{
      width: 6%;font-size: 22px;color: #0c85e8;display: flex;justify-content: center;align-items: center;
    }
    .more{font-size: 18px;float: left}
  }
  .maxHeight{
     position: relative;
    .putGet{
      height: 100%;overflow-y: scroll;
    }
  }
  .max{height: calc(100% - 146px);}
  .bot{
    position: fixed;bottom: 0;right: 0;padding: 0 40px;line-height: 40px;background: white;
    @include width-height(calc(100% - 120px), 40px);
    >div{width: 50%;float: left;border: none;background: none}
    >button{float: right;margin-left:6px; };
  }
  .seeAllAddress{
    text-align: center;margin-top:20px;color:rgba(153,153,153,1);cursor: pointer;
    &:hover{
      color: #0c85e8;
    }
  }
}
