@import '@/themes/mixin.scss';
.configure{
  padding: 20px;
  .textGroup{
    .textGroupDiv{
      margin-bottom: 16px;padding: 14px 37px 12px;background: $newBackground;
      &:last-child{margin: 0;}
      >p{
        margin-bottom: 12px;position: relative;color: $auxiliaryColor;
        &:before{
          content: '';font-size: 24pt;background:rgba(7,123,231,1);border-radius:50%;
          position: absolute;left: -21px;top: 6px;@include width-height(8px, 8px);
        }
      }
      >div{
        margin-bottom: 4px;color: $gray;font-size: 12px;
        &:last-child{margin: 0;}
        label{width: 80px;display: inline-block;}
        span{color: $auxiliaryColor}
        :global .ant-col{float: left}
        :global .ant-form-item-control-wrapper{
          .ant-input-group-addon{border-color: #fff;}
          width: 350px;
          input{@include newInput}
          .ant-form-explain{position: absolute;right: -120px;top: 15px;font-size: 12px;
          text-align: left;width: 110px;}
        }
        :global .ant-form-item-label{
          >label{
            padding-right: 16px; font-size: 12px;color: $gray;
            &:before{display: none;}
            &::after{content: '';}
          }
        }
      }
    }
    .saveBtn{margin-left: 80px;font-size: 12px}
  }
  .layout{
    margin-left: 16px;font-size: 12px;
    >span{color: white !important;}
  }
  .keepWay{
    >div{float: left;color: #666666}
  }
}
.select{
  background: white;border: none;
  >div{margin: 0 !important;}
}
:global .ant-select-dropdown{
  li{padding-left: 11px !important;}
}
.option{width: 350px !important;left: 137px !important}
