.configure{
  padding: 20px;
  .textGroup{
    .textGroupDiv{
      background:rgba(239,239,239,1);margin-bottom: 16px;padding: 14px 37px 12px;
      >p{
        color:rgba(102,102,102,1);margin-bottom: 12px;position: relative;
        &:before{
          content: '';font-size: 24pt;width:8px;height:8px;background:rgba(7,123,231,1);border-radius:50%;position: absolute;
          left: -21px;top: 6px;
        }
      }
      >div{
        font-size: 12px;color:rgba(153,153,153,1);margin-bottom: 4px;
        &:last-child{margin: 0;}
        label{width: 80px;display: inline-block;}
        span{color:rgba(102,102,102,1);}
        :global .ant-col{float: left}
        :global .ant-form-item-control-wrapper{
          width: 350px;
          input{
            border: none;background:rgba(255,255,255,1);font-size: 12px;
            &:focus{border: none; box-shadow: none;background:rgba(227,241,248,1);}
          }
          .ant-form-explain{font-size: 12px;position: absolute;right: -120px;top: 15px;
          text-align: left;width: 110px;}
        }
        :global .ant-form-item-label{
          >label{
            padding-right: 16px; font-size: 12px;color:rgba(153,153,153,1);
            &:before{display: none;}
            &::after{
              content: '';
            }
          }
        }
      }
    }
    .saveBtn{margin-left: 80px;font-size: 12px;}
  }
  .layout{
    margin-left: 16px;font-size: 12px;
    >span{color: white !important;}
  }
  .keepWay{
    >div{float: left}
  }
}
